/**
* Mixin - Font-weight
*/
light = 300
regular = 400
medium = 500
semibold = 600
bold = 700
black = 900


/**
* Mixin - Font-weight
*/
primaria = #F35047
secundaria = #B01A5A
button = #FFBF00
branco = #ffffff

/**
* Mixin - Viewport
*/
viewport = 1170px

/**
* Mixin - Responsive
* @media (max-width screen-sm-min)
* @media (max-width screen-md-min)
* @media (max-width screen-lg-min)
*/
// Smaller devices (phones, 320px and down)
screen-xs = 320px
// Small devices (phones, 568px and down)
screen-xs = 568px
// Small devices (tablets, 768px and down)
screen-sm = 768px
// Medium devices (desktops, 992px and down)
screen-md = 992px
// Medium devices (desktops, 1200px and down)
screen-lg = 1200px

/*
* Global
* Elementos globais que podem ser extendidos ao longo do documento
*/
.container
    min-width: 0
    max-width: viewport
    margin 0 auto
    width: auto

/*
* Base
* Estilo base do elementos do Html
*/
body
    background branco
    font-family 'Poppins', sans-serif

/*Componente Categorias*/
.ul--0
    display flex
    flex-flow row wrap
    align-items center
    justify-content space-between
    flex 1 1 auto
    .li--0
        list-style-type none
        .a--0
            text-decoration none
            font-size 22px
            font-weight bold
            color primaria

/*Componente Cabeçalho da loja*/
.header
    display flex
    align-items center
    justify-content center
    flex-flow row wrap
    @extend .container

/*Componente de conteúdos*/
.content
        display flex
        flex-flow row wrap
        justify-content space-between
        align-items center
        flex 1 1 auto

/*Componente bloco um*/
.block__one
    h1
        color secundaria
        font-size 60px
        margin 0
        font-weight black
    p
        color primaria
        font-size 22px
        font-weight light
        margin 0 
 
/*Componente bloco dois*/
.block__two
    img
        max-width 590px
        
/*Componente botão encontrar*/
.btn-encontrar
    text-decoration none
    padding 5px 44px
    background button
    border-radius 8px
    span
        font-size 22px
        font-weight bold
        color branco

/*
* State
* Estado global do Layout
*/


        