/**
* Mixin - Font-weight
*/
light = 300
regular = 400
medium = 500
semibold = 600
bold = 700
black = 900


/**
* Mixin - Cores
*/
primaria = #F35047
secundaria = #B01A5A
button = #FFBF00
branco = #ffffff

/**
* Mixin - Viewport
*/
viewport = 1170px

/**
* Mixin - Responsive
* @media (max-width screen-sm-min)
* @media (max-width screen-md-min)
* @media (max-width screen-lg-min)
*/
// Smaller devices (phones, 320px and down)
screen-xs = 320px
// Small devices (phones, 568px and down)
screen-xs = 568px
// Small devices (tablets, 768px and down)
screen-sm = 768px
// Medium devices (desktops, 992px and down)
screen-md = 992px
// Medium devices (desktops, 1200px and down)
screen-lg = 1200px

/*
* Global
* Elementos globais que podem ser extendidos ao longo do documento
*/
.container
    min-width: 0
    max-width: viewport
    margin 0 auto
    width: auto

/*
* Base
* Estilo base do elementos do Html
*/
body
    min-height 100vh
    background branco
    font-family 'Poppins', sans-serif

/*Componente Categorias*/
.ul--0
    display flex
    flex-flow row wrap
    align-items center
    justify-content space-between
    flex 1 1 auto
    .li--0
        list-style-type none
        .a--0
            text-decoration none
            font-size 22px
            font-weight bold
            color primaria

/*Componente Cabeçalho da loja*/
.header
    display flex
    align-items center
    justify-content center
    flex-flow row wrap
    @extend .container

/*Componente de conteúdos*/
.content
    @extend .container
    display flex
    flex-flow row wrap
    justify-content space-between
    align-items center
    flex 1 1 auto
    height 700px

/*Componente bloco um*/
.block__one
    text-align center
    h1
        color secundaria
        font-size 60px
        margin 0
        font-weight black
    p
        color primaria
        font-size 22px
        font-weight light
        margin 0 
 
/*Componente bloco dois*/
.block__two
    img
        max-width 590px
        
/*Componente botão encontrar*/
.btn-encontrar
    text-decoration none
    background button
    border-radius 8px
    box-shadow 0 3px 6px rgba(0, 0, 0, 0.2)
    padding 5px 44px
    span
        font-size 22px
        font-weight bold
        color branco
    &:hover
        background none
        box-shadow  0 0 0 1px button
        span
            color button

/*Componente  rodapé*/
.footer
    @extend .container
    display flex
    justify-content center
    img
        max-width 46px
        max-height 42px

/*Componente  svg*/        
.header
    .svg
        width 100vw
        height auto

/*Componente  Envelopar*/
.envenlopar-bnt
    display flex
    justify-content center

/*Componente Footer*/
.footer
    .desenvolvimento &
        position static
        
/*
* State
* Estado global do Layout
*/
body
    .footer
        position absolute
        left 50%
        bottom 30px
    .header
        margin-top 10px

.block__one
    .envenlopar-bnt
        margin-top 20px
