/**
* Mixin - Font-weight
*/
/**
* Mixin - Cores
*/
/**
* Mixin - Viewport
*/
/**
* Mixin - Responsive
* @media (max-width screen-sm-min)
* @media (max-width screen-md-min)
* @media (max-width screen-lg-min)
*/
/*
* Global
* Elementos globais que podem ser extendidos ao longo do documento
*/
.container,
.header,
.content,
.footer {
  min-width: 0;
  max-width: 1170px;
  margin: 0 auto;
  width: auto;
}
/*
* Base
* Estilo base do elementos do Html
*/
body {
  min-height: 100vh;
  background: #fff;
  font-family: 'Poppins', sans-serif;
}
/*Componente Categorias*/
.ul--0 {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 auto;
}
.ul--0 .li--0 {
  list-style-type: none;
}
.ul--0 .li--0 .a--0 {
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  color: #f35047;
}
/*Componente Cabeçalho da loja*/
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}
/*Componente de conteúdos*/
.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  height: 700px;
}
/*Componente bloco um*/
.block__one {
  text-align: center;
}
.block__one h1 {
  color: #b01a5a;
  font-size: 60px;
  margin: 0;
  font-weight: 900;
}
.block__one p {
  color: #f35047;
  font-size: 22px;
  font-weight: 300;
  margin: 0;
}
/*Componente bloco dois*/
.block__two img {
  max-width: 590px;
}
/*Componente botão encontrar*/
.btn-encontrar {
  text-decoration: none;
  background: #ffbf00;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  padding: 5px 44px;
}
.btn-encontrar span {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
.btn-encontrar:hover {
  background: none;
  box-shadow: 0 0 0 1px #ffbf00;
}
.btn-encontrar:hover span {
  color: #ffbf00;
}
/*Componente  rodapé*/
.footer {
  display: flex;
  justify-content: center;
}
.footer img {
  max-width: 46px;
  max-height: 42px;
}
/*Componente  svg*/
.header .svg {
  width: 100vw;
  height: auto;
}
/*Componente  Envelopar*/
.envenlopar-bnt {
  display: flex;
  justify-content: center;
}
/*Componente Footer*/
.desenvolvimento .footer {
  position: static;
}
/*
* State
* Estado global do Layout
*/
body .footer {
  position: absolute;
  left: 50%;
  bottom: 30px;
}
body .header {
  margin-top: 10px;
}
.block__one .envenlopar-bnt {
  margin-top: 20px;
}
